<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${userId == null}">
    <button th:text="로그인" th:onclick="|location.href='@{/user/login}'|"></button>
    <button th:text="카카오로그인" th:onclick="|location.href='@{https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=26207dd989945bf3f623cd138fa235f8&redirect_uri=http://localhost:6080/auth/kakao/callback}'|"></button>
    <button th:text="회원가입" th:onclick="|location.href='@{/user/register}'|"></button>
</div>

<div th:unless="${userId == null}">
    <span th:text="'반갑습니다. ' + ${userId} + '님.'"></span>
    <button th:onClick="|location.href='@{/user/logout}'|" th:text="로그아웃"></button>
    <button th:onClick="|location.href='@{/music/favorite}'|" th:text="'내가 찜한 노래'"></button>
</div>

<button type="button" th:onclick="|location.href = '@{/music/main}'|">메인으로</button>

<form method="post" th:action="@{/music/search}">
    <label for="search"></label>
    <input id="search" name="search" required>

    <button type="submit">검색</button>
</form>

<div th:if="${artistResult == null}"></div>

<!--가수 대략 설명-->
<div th:unless="${artistResult == null}">
    <img th:src="${artistResult.artists.items[0].images[1].url}" alt="/">
    <div>
        <h1 th:text="${artistResult.artists.items[0].name}"></h1>
    </div>

    <h3>장르</h3>
    <ul>
        <h3 th:each="genre : ${artistResult.artists.items[0].genres}" th:text="${genre}"></h3>
    </ul>

    <h3 th:text="'팔로워 수 : ' + ${#numbers.formatInteger(artistResult.artists.items[0].followers.total,3,'COMMA') + '명'}"></h3>
</div>

<!--앨범 대략 설명-->
<div th:each="item : ${data}">
    <div>
        <a th:href="@{'/music/tracks/' + ${item.id}}">
            <img th:src="${item.images[2].url}">
        </a>
        <span th:text="${item.name}"></span>
        <span th:text="' / '"></span>
        <span th:text="${item.releaseDate}"></span>
    </div>
</div>

</body>
</html>